@model GestaoLocacaoInstrumentos.Models.Instrumento

<div class="container">
    <h1>Adicionar Instrumento</h1>
    <form asp-action="Create">
        <div class="mb-3">
            <label for="Modelo" class="form-label">Modelo</label>
            <input type="text" asp-for="Modelo" class="form-control" />
            <span asp-validation-for="Modelo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Marca" class="form-label">Marca</label>
            <input type="text" asp-for="Marca" class="form-control" />
            <span asp-validation-for="Marca" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Nome" class="form-label">Nome</label>
            <input type="text" asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Descricao" class="form-label">Descrição</label>
            <textarea asp-for="Descricao" class="form-control"></textarea>
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="ValorAluguel" class="form-label">Valor Aluguel</label>
            <input type="number" asp-for="ValorAluguel" class="form-control" />
            <span asp-validation-for="ValorAluguel" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>
