@model IEnumerable<GestaoLocacaoInstrumentos.Models.Instrumento>

@{
    ViewData["Title"] = "Instrumentos";
}

<h1>Lista de Instrumentos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Valor</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var instrumento in Model)
        {
            <tr>
                <td>@instrumento.Nome</td>
                <td>@instrumento.Marca</td>
                <td>@instrumento.Modelo</td>
                <td>@instrumento.ValorAluguel</td>
                <td>
                    <a href="#">Editar</a> |
                    <a href="#">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
