@model Agendamento

<div class="container mt-4">
    <h1 class="text-center">Novo Agendamento</h1>
    <form asp-action="Create" method="post" class="mt-4">
        <div class="mb-3">
            <label for="Estudio" class="form-label">Estúdio</label>
            <select asp-for="Estudio" class="form-select" required>
                <option value="Estúdio A">Estúdio A - Capacidade: 10 pessoas, R$100/h, Ar condicionado, Frigobar, Sofá</option>
                <option value="Estúdio B">Estúdio B - Capacidade: 5 pessoas, R$70/h, Ar condicionado</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="Data" class="form-label">Data</label>
            <input asp-for="Data" type="date" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="HoraInicio" class="form-label">Hora de Início</label>
            <input asp-for="HoraInicio" type="time" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="HoraFim" class="form-label">Hora de Término</label>
            <input asp-for="HoraFim" type="time" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="Cliente" class="form-label">Cliente</label>
            <input asp-for="Cliente" type="text" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="ValorAluguel" class="form-label">Valor</label>
            <input asp-for="Valor" class="form-control" placeholder="Valor (R$)" type="number" step="0.01" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Salvar</button>
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </form>
</div>
